img {
  width: 100%;
  height: auto; }

html,
.App {
  background-color: #F2F2F2; }

.list {
  display: inline-block;
  list-style-type: none; }

.product__card {
  background-color: white;
  box-shadow: 1px 1px 1px #E4E4E4;
  min-width: 190px;
  max-width: 190px;
  border-radius: 3px;
  border: 1px solid #E4E4E4;
  position: relative;
  padding: .3em;
  box-sizing: content-box; }
  .product__card button {
    display: none !important;
    position: absolute;
    top: 85px;
    left: 45px; }
  .product__card:hover {
    cursor: pointer; }
    .product__card:hover button {
      display: inline-block !important; }

.product__card__text {
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  color: #3D3D3D;
  font-size: 12px; }
  .product__card__text p {
    margin-top: 3px;
    margin-bottom: 5px; }

.product__card__stars {
  text-align: center;
  margin-bottom: .5em; }
  .product__card__stars label {
    padding: .1em; }

.dv-star-rating i {
  font-size: 10px; }

.soldout__badge {
  width: 25px;
  height: 25px;
  background-color: gold;
  text-transform: uppercase;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: .5em;
  display: none;
  bottom: 81px;
  left: 10px;
  position: absolute; }

.soldout__badge__text {
  margin-top: 2px;
  font-size: 10px;
  display: inline-block;
  vertical-align: middle; }

.active {
  display: inline-block !important; }

.square {
  width: 40px;
  height: 40px;
  display: inline-block; }

.square--navy {
  background-color: #414E69; }

.square--grey {
  background-color: #B5B1AD; }

.square--orange {
  background-color: #CE601B; }
